.settings
.project
.classpath
.metadata
.DS_Store
bin

Java/rankworkspace/.metadata/
Java/rankworkspace/.metadata/
Java/rankworkspace/.metadata/.mylyn/
Java/rankworkspace/.metadata/.plugins/

Java/rankworkspace/.metadata/.mylyn/.tasks.xml.zip
Java/rankworkspace/.metadata/.mylyn/tasks.xml.zip
Java/rankworkspace/.metadata/.plugins/org.eclipse.core.resources/
Java/rankworkspace/.metadata/.plugins/org.eclipse.jdt.core/
Java/rankworkspace/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi


*.class
*.jar
*.war
*.ear

target/
bin/

*.iml
.idea/
.vscode/
.project
.classpath
.settings/

*.log
*.tmp
.DS_Store
Thumbs.db